---
title: Home
layout: plain
---

<div style="padding-top:50px;text-align:center;">
    <img src="/static/img/borgodoro2-300.png"
         style="margin-left:auto;margin-right:auto;"></img>

    <p style="margin-top:20px;">
    <div class="btn-toolbar">

    <div class="btn-group">
        <a class="btn bgreen" href="/license"> LGPL </a>
    </div>
    <div class="btn-group">
        <a class="btn borange" href="/vlc"> Experiment </a>
    </div>
    <div class="btn-group">
        <a class="btn bred" href="/faq"> FAQ </a>
    </div>
    </div>
    <div class="btn-toolbar">

    <div class="btn-group">
        <a class="btn bpurple" href="http://shop.borgodoro.it"> Shop </a>
    </div>
    </div>
</div>
